<label for="number">
	<f:translate key="tx_bucher_domain_model_tisch.number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="number" /><br />
<label for="xpos">
	<f:translate key="tx_bucher_domain_model_tisch.xpos" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="xpos" /><br />
<label for="ypos">
	<f:translate key="tx_bucher_domain_model_tisch.ypos" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ypos" /><br />
<label for="type">
	<f:translate key="tx_bucher_domain_model_tisch.type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="type" /><br />